body{
    font-family: Arial, Helvetica, sans-serif;
   /*  font-family: 'Courier New', Courier, monospace; */
    margin: 3rem;
    
}
/*              ********************************* HEADER *********************************              */
.header{
    display:grid;
    grid-template-columns: 40% 60%;
    /* border: 5px solid red; */
    
}
.logo{
    display:grid;
   /*  border: 5px solid rgb(56, 47, 47); */
   /*  padding-left: 20rem; */            /* it makes reponsive problem */
    justify-content: end;
}
.logo img{
    margin-right: 50px;
   width: 400px;
}
nav {
    display: grid;
    grid-template-columns: repeat(5, .5fr); /* 20fr 20fr 20fr 20fr 20fr ; */
    grid-auto-rows: auto;
    grid-gap: 1em;
    align-items: center;
    text-align: center;
   /*  border-bottom: 3px solid gold; */
    background: white;
  }
  .navLinks {
    font-size: 1.2em;
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(55, 90, 103);
    background-color: rgb(230, 230, 230);
    padding: .5em 2em;
    border-radius: 5px;

  }
  .navLinks:hover {
    color: white;
    background-color: rgb(55, 90, 103);
    /* border: 2px soli red; */
    padding: .5em 2em;
    border-radius: 10px;
  }
  /*              ********************************* HEADER END *********************************              */

 .wrapper2 {
    display: grid;
    grid-template-columns:  55% 45%;
   /* border: 2px solid red; */
   margin-top: 150px;
   background-color: rgb(191, 211, 218);

  }
 /*  .picup{
      margin-top: -200;
  } */
.rightBox{
    padding-top:50;
  /*   border: 4px solid red; */
}

.rightBox>img{
    margin-top: -110px;
   
}

/* .leftBox{
    /* border: 10px solid yellowgreen; 

} */
.leftBox>section{
     float: right;
    margin-top: -70px;
    margin-right: 0;
    padding-right: 0;
    /* border: 2px solid grey; */
   /*     padding-left: 200px;  */
    /* margin-right: 0px; */
}
.leftBox>section>img{
    width: 200px;
height: 200px;
    border-radius: 50%;
    margin: 0 30px 0 30px;  
}
.textBox{
    margin-top: 15%;
    margin-left: 2%;

   /*  color: #2a4f5e;
    font-size: 25px;
    line-height: 35px; */
   /*  border:2px solid green; */
  
}
.wrapper2 div h3{
	color:#2a4f5e;
	font-size:20px;
	line-height:30px;

}
.wrapper2 div h3 span{
	display:block;
	font-size:28px;
}
.wrapper2 div p{
	color:#507685;
	font-size:17px;

} 
.comtent{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr ; 
   }
 .comtent .leftContent h2{
    color: #507685;
} 
.comtent .leftContent span {
    color:#aeaeae;
	display:block;
	font-size:12px;
	line-height:16px;
}


.comtent .leftContent div:not(:last-child) {
    border-bottom: 2px dotted#aeaeae;
}
.rightContent .section h3{
    color: #507685;
}
.rightContent .section .sectInner li:not(:last-child) {
    border-bottom: 2px dotted#aeaeae;
}

.mainContent h2{
    color: #507685;
}
.picPara{
    display: grid;
    grid-template-columns: 15% 85% ;
}
 .downContent{
    border-top:2px dotted#aeaeae;
} 
.picPara  img {
    margin-top: 1.2em;
    
}

.footer{
    margin-top: 5em;
    /* border:2px solid red; */
    padding-bottom: 1%;
    background-color: rgb(230, 230, 230);
}
.innerFooter{
    display: grid;
    grid-template-columns: repeat(5, .6fr) ;
   
   /*  border:3px solid green; */
}
.innerFooter div{
    color: #2a4f5e;
   /*  border:3px solid green; */
}
.innerFooter div h3,p {
    color: #507685;
    text-align: center;
}
.icons div{
    width: 21%;
    margin-left: auto;
    margin-right: auto;
}
 